<div class="container new-list col-12 col-lg-4 mt-4">
<h3>Wallet Edit</h3>
<%= simple_form_for(@wallet) do |w| %>
  <div class="form-inputs">
    <%= w.input :name,label: 'Edit a Wallet:', placeholder:"give a new Wallet name" %>
  </div>

  <div class="form-actions btn btn-blue">
    <%= w.button :submit %>
  </div>
<% end %>
</div>
