.list-activity {
  width: 114.84px
}

.list-amount {
  width: 114.84px
}

.list-receiver {
  width: 250px;
}

.list-sender {
  width: 250px;
}

#receiver-email {
  display: none;
}

#receiver-email.show {
  display: block;
}
